In [1]:
import numpy as np
import pandas as pd

## Bring in Voteview data, and filter to 118th congress

In [2]:
ideology = pd.read_csv('https://voteview.com/static/data/out/members/HS118_members.csv')

In [8]:
ideology[['bioname', 'chamber', 'party_code', 'state_abbrev', 'district_code', 'nominate_dim1']]\
    .sort_values('nominate_dim1', ascending= True)

,bioname,chamber,party_code,state_abbrev,district_code,nominate_dim1
382,"GARCIA, Sylvia",House,100,TX,29,-0.807
482,"WARREN, Elizabeth",Senate,100,MA,0,-0.752
71,"LEE, Barbara",House,100,CA,12,-0.677
143,"CASTEN, Sean",House,100,IL,6,-0.672
66,"WATERS, Maxine",House,100,CA,43,-0.656
...,...,...,...,...,...,...
527,"LEE, Mike",Senate,200,UT,0,0.891
474,"PAUL, Rand",Senate,200,KY,0,0.891
320,"BRECHEEN, Josh",House,200,OK,2,0.926
441,"TUBERVILLE, Thomas Hawley (Tommy)",Senate,200,AL,0,0.936
490,"SCHMITT, Eric Stephen",Senate,200,MO,0,0.945

In [10]:
replace_map = {100: "Democrat", 200: "Republican", 328: 'Independent'}
ideology['party_code'] = ideology['party_code'].replace(replace_map)
ideology['party_code'].value_counts()

party_code
Republican     274
Democrat       264
Independent      3
Name: count, dtype: int64

In [13]:
ideology.query("party_code == 'Independent'")[["bioname", "chamber", 'state_abbrev', 'nominate_dim1']]

                      bioname chamber state_abbrev  nominate_dim1
446           SINEMA, Kyrsten  Senate           AZ         -0.303
477  KING, Angus Stanley, Jr.  Senate           ME         -0.162
530          SANDERS, Bernard  Senate           VT         -0.539

In [17]:
ideology.query("state_abbrev == 'VA' & chamber == 'House'")[['district_code', 'party_code', 'bioname']]

     district_code  party_code                      bioname
409              1  Republican           WITTMAN, Robert J.
410             11    Democrat  CONNOLLY, Gerald E. (Gerry)
411              9  Republican          GRIFFITH, H. Morgan
412              8    Democrat   BEYER, Donald Sternoff Jr.
413              6  Republican              CLINE, Benjamin
414              7    Democrat          SPANBERGER, Abigail
415             10    Democrat             WEXTON, Jennifer
416              5  Republican                    GOOD, Bob
417              2  Republican            KIGGANS, Jennifer
418              4    Democrat          MCCLELLAN, Jennifer
419              3    Democrat             SCOTT, Robert C.

In [18]:
votes = pd.read_csv('https://voteview.com/static/data/out/votes/HS118_votes.csv')
votes

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.0
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
248232       118  Senate         247  42303          6   91.4
248233       118  Senate         247  42304          6   63.7
248234       118  Senate         247  49308          1  100.0
248235       118  Senate         247  49703          1  100.0
248236       118  Senate         247  91300          1  100.0

[248237 rows x 6 columns]

In [26]:
#First do the merge in a way that checks for problems
ideology_votes = pd.merge(ideology, votes, on = 'icpsr', how='outer', validate= '1:m', indicator = 'matched')
ideology_votes['matched'].value_counts()

matched
both          248237
left_only          0
right_only         0
Name: count, dtype: int64